__pycache__/
*.py[cod]
.idea/
db.sqlite3
media/
staticfiles/
static/
.venv/
*.env
*.log
backend/web/documents/data.txt
backend/web/documents/lancedb_storage/
frontend/public/vad/
!/backend/media/user/photos/default.png